

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 1600px;
    width: 100%;
}
nav {
    background-image: url('photo-1444858291040-58f756a3bdd6.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 600px 40px;
}

.nav_link {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}
.nav_button {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.nav_button button {
    padding: 10px 5px 10px 5px;
}

.dropdown-content {
    display: none;
}

.show {
    display: flex;
    gap: 10px
}

.dropdown:hover {
    color: rgb(134, 165, 243);
    transition: all 0.2s ease-out;
  }



.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: blue;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.header1 {
    padding: 400px 10px;
}