*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  
}

:root {
  /* Colours */
  --color-green: rgb(75, 69, 55);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  /* Fonts */
  --font-montserrat: "montserrat", sans-serif;
}

body {
  font-family: var(--font-montserrat);
  background-color: rgb(75, 69, 55);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* General utilities */

.container {
  width: 100%;
  max-width: min(
    90%,
    100rem
  ); /* 1360px is the width of the page or 90% of the screen on mobile */
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  color: white;
}

/* Flexbox */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-right {
  justify-content: end;
}

.align-vertically {
  justify-content: center;
}

.relative {
  position: relative;
}

/* Page styling */

.shadow-md {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.uppercase {
  text-transform: uppercase;
}

.bg-green {
  background-color: var(--color-green);
}

.bg-black {
  background-color: var(--color-black);
}

.rounded-md {
  border-radius: 4px;
}

/* Spacing */

.gap-md {
  gap: 1.5rem;
}
.gap-sm {
  gap: 0.5rem;
}

/* Buttons */

.btn.btn-lg {
  padding: 1rem 0.5rem;
}

/* Individial elements */

/* Navigation bar */

nav {
  transition: top 0.5s;
}

nav.navigation-minimal {
  position: fixed;
  top: -100%;
}

.navigation-logo {
  width: 8.75rem; /* 140px /*
  /* height: 150px; */
  padding-block: 1rem;
  position: relative;
  z-index: 2;
}

nav.navigation-minimal .navigation-logo {
  width: 5rem;
  padding-block: 0.25rem;
}

nav.navigation-minimal .navigation-buttons {
  display: none;
}

.navigation-link {
  display: block;
}

.navigation-buttons {
  display: flex;
}

/* Navigation dropdown */

.services-dropdown-content {
  padding: 1rem;
  position: absolute;
  background-color: var(--color-green);
  left: -1rem;
  top: calc(100% + 0.25rem);
  opacity: 1;
  min-width: calc(100% + 2rem);
  transition: all 0.25s;
  visibility: visible;
}

.services-dropdown-content.hide {
  opacity: 0 !important;
  top: 100%;
  visibility: hidden;
}

/* Hamburger menu */

.navigation-menu {
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

/* Removing button styles for accessibility */
.navigation-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation-bar {
  display: block;
  width: 48px;
  height: 3px;
  margin: 7.5px auto;
  border-radius: 1px;
  background-color: var(--color-white);
  transition: transform 0.05s, opacity 0.05s;
}

.navigation-menu.navigation-active .navigation-bar:nth-child(1) {
  transform: translateY(10.5px) rotate(45deg);
}

.navigation-menu.navigation-active .navigation-bar:nth-child(2) {
  opacity: 0;
}

.navigation-menu.navigation-active .navigation-bar:nth-child(3) {
  transform: translateY(-10.5px) rotate(-45deg);
}

/* Media Queries */

@media (max-width: 768px) {
  .navigation-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 61px;
    opacity: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-green);
    z-index: auto;
    transition: top 0.2s, opacity 0.2s, visibility 0.2s;
    visibility: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .navigation-links.navigation-active {
    top: 71px;
    opacity: 1;
    visibility: visible;
  }

  .navigation-logo {
    width: 5rem;
    padding-block: 0.25rem;
  }

  .navigation-menu {
    display: block;
  }

  .navigation-buttons {
    display: none;
  }
}



                            /* About Us Page */

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100vw;
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
  filter: brightness(95%);
  
}

.overlay-text {
  max-width: 100%;
  position: absolute;
  width: 100rem;
  top: 58%; 
  left: 19%; 
  transform: translate(-50%, -50%); 
  /* background-color: #000000;  */
  color: #ffffff; 
  padding: 10px 20px; 
  font-size: 40px; 
  text-align: center;
  font-weight: bold;
}

.second-section {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
}

.about-container::before {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  height: 2px;
  background-color: white;
 }

.about-container {
  width: 100%;
  max-width: min(
    90%,
    100rem
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: center; */
  /* padding: 2% 10%; */
  color: #ffffff;
  /* gap: 10%; */
  /* max-height: min(
    90%,
    10rem
  ); */
}

.about-container .chartered-img {
  object-fit: fill;
  max-width: 400px;
  max-height: 700px;
  
  /* padding: auto */
}

.about-container .shadow-chartered-img {

  object-fit: fill;
  align-self: self-end;
  max-width: 400px;
  max-height: 700px;
  filter: brightness(50%);
}

/* .about-words{
  display: flex;
  justify-content: center;
  text-align: center;
} */

.about-title {
  font-size: 100px;
  padding-top: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: 400;
}

.about-second-title {
  font-size: 30px;
  display: flex;
  padding: 4% 0%;
  font-weight: 500;
}

.about-first-description {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 6% 0%;
  font-weight: 300;
}

.about-second-description {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 2% 0%;
  font-weight: 200;
}

.about-button{
  display: flex;
  padding: 4% 25%; 
  font-size: 30px;
}

.about-button a{
  background-color: black;
  padding: 20px 60px;
}

 .about-container::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 1%;
  right: 1%;
  height: 2px;
  background-color: white;
 }
 .third-section{
  display: flex;
    justify-content: center;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
 }
.about-luke {
  width: 100%;
  max-width: min(90%, 100rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: center; */
  /* padding: 2% 10%; */
  color: #ffffff;
  gap: 100px;
  padding: 3% 0%;
}

 .about-col-1 img {
  max-width: 300px;
  max-height: 300px;
  clip-path: circle();
 }
 .about-col-1 h1 {
  padding: 10px;
  text-align: center;
  font-size: 30px;
 }
 .about-col-1 p {
  /* padding: 10px; */
  text-align: center;
  font-size: 20px;
 }

 .about-col-1 .about-button {
  padding-top: 100px;
  justify-content: center;
  
}

 .about-col-2 {
    font-size: 25px;
    justify-content: center;
    font-weight: 200;
 }
 .about-col-2 p{
  padding: 10px 0px;
 }

 /* .our-values-section::before{
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  height: 2px;
  background-color: white;
 } */

.our-values-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-values-title{
  text-align: center;
  font-size: 40px;
  color: white;
  font-family:'Times New Roman', Times, serif;
}

.value-grid {
  width: 90%;
  /* width: 100%;
  max-width: min(
    90%,
    100rem
  ); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding-left: 10%;
}
.value-grid > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.card1{

  color: white;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 50px solid transparent;
  padding: 25px;
  border-image: url(img\Icons\kisspng-computer-icons-shield-icon-layered-graph-5aeb5484e27549.0372291015253720369276-removebg-preview.png)

}
.card1 .protection-icon {
  width: 50px;
}
/* .card1 .border {
  width: 600px;
} */
 .card1 img{
  width: 50px;
 }
.card2{
  grid-column: 3 / span 4;
}
.card3{
  grid-column: 1 / span 2;
}
.card4{
  grid-column: 3 / span 4;
}
.card5{
  grid-column: 2 / span 2;
}


.contact-banner {
  display: flex;
  align-items: center;
}

.contact-banner h1 {
  font-size: 30px;
  text-align: center;
}

.contact-banner img{
  height: 20%;
  /* max-width: 100%; */
}



.footer {
  float: left;
  width: 100%;
  background: #000000;
  color: #fff;
  display: flex;
  /* flex-direction: column; */
  /* padding: 20px 0; */
  /* font-size: 0.9em; */

}

.row {
display: flex;

}

.col-1 {
padding: 10px;
/* text-align: center; */
}
.col-1 h3{
  
  padding-bottom: 8px;
}

.col-2 {
padding: 10px;
}
.col-2 h3{
  padding-bottom: 8px;
}

.col-3 {
  padding: 10px;
  }
.col-3 h3{
  padding-bottom: 8px;
}


@media (max-width: 1616px) {


  .about-title {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-size: 70px;
  }
  
 }



 @media (max-width: 768px) {


  .about-title {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
  }
  .about-container img{
    display: none;
  }

  .about-second-title {
    padding: none;
    font-size: 25px;
    text-align: center;
    /* display: flex; */
    /* padding: 2% 7%; */
  }
  
  .about-first-description {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    font-weight: 100;
  }
  
  .about-second-description {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    font-weight: 100;
  }
  
  .about-button{
    display: flex;
    padding: 4% 25%; 
    font-size: 30px;
  }
  
  .about-button a{
    background-color: black;
    padding: 20px 60px;
  }
 }

 
                                            /* How We Work Page */


.hww-second-section{
  /* display: flex; */
  color: white;
}

.hww-ss-title {
  font-size: 32px;
  text-align: center;
  padding: 10px 0;
}

.hww-grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.hww-grid-item {
  text-align: center;
  /* height: 500px; */
  /* align-content: center; */
}

.hww-grid-item-text {
  padding: 10px 50px ;
  justify-content: center;
  /* align-items: center; */
}
.hww-grid-item-text h1{
  font-size: calc(1.55vw + 1.55vh);
  padding: 5px 0;
}
.hww-grid-item-text p{
  text-align: left;
  font-size: calc(0.9vw + 0.9vh);
  padding: 6px 0;
}
.hww-grid-item-text li{
  text-align: left;
  font-size: calc(0.9vw + 0.9vh);
  list-style: circle;
  padding: 3px;
  margin-left: 10%;
}

.hww-grid-item-text-process-2 {
  padding: 10px 20px ;
  justify-content: center;
  /* align-items: center; */
}
.hww-grid-item-text-process-2 h1{
  font-size: calc(1.55vw + 1.55vh);
  padding: 5px 0;
}
.hww-grid-item-text-process-2 p{
  text-align: left;
  font-size: calc(0.9vw + 0.9vh);
  padding: 6px 0;
}

.hww-grid-item-text-process-2 li{
  text-align: left;
  font-size: calc(0.9vw + 0.9vh);
  list-style: circle;
  padding: 3px;
  margin-left: 10%;
}

.hww-grid-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* height: 350px; */
}


/* @media only screen and (max-width: 550px) {
  .hww-grid-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .hww-grid-item {
    font-size: 30px;
    text-align: center;
    color: orange;
}
.hww-grid-item img{
  display: none;
} */


/* .hww-grid-item img{
  padding: 20px 0px;
} */

/* * { box-sizing: border-box; } */

/* .menu { width: 25%;
  float: left;}

.main {width: 75%;
  float: left;}

.hww-col-1 {width: 8%}

.hww-col-2 {width: 17%}

.hww-col-3 {width: 25%}

.hww-col-4 {width: 33%}

.hww-col-5 {width: 42%}

.hww-col-6 {width: 50%}

.hww-col-7 {width: 58%}

.hww-col-8 {width: 57%}

.hww-col-9 {width: 75%}

.hww-col-10 {width: 83%}

.hww-col-11 {width: 92%}

.hww-col-12 {width: 100%} */

/* [class* = "hww-col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.hww-row:after {
  content: "";
  clear: both;
  display: table;
} */
/* .hww-second-section >div:nth-of-type(2) {
  float: left;
  display: block;
  object-fit: cover;
  grid-column: 6;
}

.process1-img img {
  height: 600px;
  width: 600px;
  float: right;
  object-fit: cover;
}
.process2-img img {
  height: 600px;
  width: 600px;
  float: right;
  object-fit: cover;
}  */

                                     /* Pensions and retirement */
.pr-grid-container{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.pr-grid-item {
  border: 3px dashed;
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
  color: orange;
}

.pr-grid-item img{
  padding: 20px 0px;
}

* { box-sizing: border-box; }

.menu { width: 25%;
  float: left;}

.main {width: 75%;
  float: left;}

.pr-col-1 {width: 8%}

.pr-col-2 {width: 17%}

.pr-col-3 {width: 25%}

.pr-col-4 {width: 33%}

.pr-col-5 {width: 42%}

.pr-col-6 {width: 50%}

.pr-col-7 {width: 58%}

.pr-col-8 {width: 57%}

.pr-col-9 {width: 75%}

.pr-col-10 {width: 83%}

.pr-col-11 {width: 92%}

.pr-col-12 {width: 100%}

[class* = "pr-col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.pr-row:after {
  content: "";
  clear: both;
  display: table;
}